* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-sizing: border-box;
}

html {
    color: #060A24;
}

body {
    margin: 0 auto;
    padding: 0;
}

:root {
    font-size: 16px;
}

h1 {
    @include titles(#060A24);
}

h2 {
    @include titles(#060A24);
}

p {
    @include text;
}

button {
    @include button-normal;
}

button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
}

.button {
    padding: 36px 0;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style: none;
}

.container {
    max-width: 100%;
}


/*Section Home*/

.home {
    margin: 73px 16px 0;
}

.strikethrough {
    text-decoration: line-through;
}

.textDesktop {
    display: none;
}

i {
    font-size: 1rem;
}

/*Section home*/

.home {
    padding-top: 30px;
}


/* Section: Episodes */

.episodes {
    clip-path: polygon(0 3%, 100% 0%, 100% 98%, 0% 100%);
    background: linear-gradient(to bottom, #0000FF, #0000A3);
    padding: 64px 16px 200px;
}

.episodes h2 {
    color: white;
}

.episodesList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

iframe {
    width: 100%;
    min-height: 232px;
    border: 0;
}

/*Section us*/

.imagePhone {
    position: relative;
    top: -80px;
}

.nosotros {
    margin-bottom: 54px;
}

.textBlock {
    margin: 0 16px;
}


/*Gallery*/

.gallery {
    margin-bottom: 48px;
}

/*Topics*/

.topics {
    padding: 50px 16px 0;
}

.topics li {
    margin-bottom: 70px;
    list-style: none;
}

.topics li h3 {
    @include textList;
    text-align: center;
}

.topics li div {
    padding: 0 92px;
}

/*CallToAction*/

.callToAction {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    background: linear-gradient(to bottom, #0000FF, #0000A3);
    padding: 67px 16px;
    color: white;
    text-align: center;
}

