* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-sizing: border-box;
}

html {
  color: #060A24;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

:root {
  font-size: 16px;
}

h1 {
  font-size: 6.5rem;
  font-family: "IBM Plex Sans";
  font-weight: 200;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  margin: 16px 0 80px;
  line-height: 100px;
}

p {
  font-size: 1rem;
  font-family: "IBM Plex Mono";
}

button {
  width: 100%;
  padding: 30px 0px;
  background-color: #00F3BB;
  border: 0;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  overflow: hidden;
}

button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.button {
  padding: 50px 16px 80px;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 100%;
}

/*Section Home*/
.home {
  margin: 16px 16px 0;
}

.home h1 {
  width: 70%;
}

.strikethrough {
  text-decoration: line-through;
}

.textDesktop {
  display: none;
}

i {
  padding-top: 15px;
  font-size: 2rem;
}

/*Section home*/
.home {
  padding-top: 30px;
}

/* Section: Episodes */
.episodes {
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  background: -webkit-gradient(linear, right top, left top, from(#0000FF), to(#0000A3));
  background: linear-gradient(to left, #0000FF, #0000A3);
  max-width: 100vw;
  padding: 150px 16px 250px;
}

.episodes h2 {
  color: white;
  margin: 21px 16px 64px;
}

.episodesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

iframe {
  width: 100%;
  min-height: 232px;
  border: 0;
}

/*Section us*/
.imagePhone {
  position: relative;
  top: -80px;
}

.textBlock {
  margin: 0 36px 100px;
}

.textBlock p {
  margin-bottom: 50px;
}

.textContainer {
  width: 70%;
  margin-top: 50px;
}

/*Gallery*/
.gallery {
  width: 100vw;
  margin-bottom: 150px;
}

/*Topics*/
.topics {
  padding: 50px 250px;
}

.topics li {
  margin-bottom: 150px;
  list-style: none;
}

.topics li h3 {
  font-family: "IBM Plex Sans";
  font-size: 3rem;
  font-weight: 800;
  margin-top: 50px;
  text-align: center;
}

.topics li div {
  padding: 0 50px;
}

/*CallToAction*/
.callToAction {
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  background: -webkit-gradient(linear, right top, left top, from(#0000FF), to(#0000A3));
  background: linear-gradient(to left, #0000FF, #0000A3);
  padding: 250px 50px;
  color: white;
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  height: 100px;
  top: 0;
  padding: 10px 5%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.692);
}

header a img {
  width: 9%;
  float: left;
}

header nav {
  float: right;
  padding-top: 20px;
}

header nav .menu {
  padding-top: 3px;
}

header nav .menu ul {
  width: 100%;
  position: absolute;
  top: 84px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000FF;
  height: 0;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

header nav .menu ul li {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 3rem;
  color: white;
  position: relative;
  height: 25%;
}

header nav .menu ul li:hover {
  color: rgba(255, 255, 255, 0.61);
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  padding: 16px 5%;
  display: block;
  color: white;
}

header nav .menu ul li a:hover {
  text-decoration: line-through;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 3rem;
  color: #00F3BB;
}

input[type="checkbox"]:checked ~ ul {
  height: 450px;
  padding: 30px 0;
}

/*checkbox transparente*/
header nav .menu input {
  display: block;
  width: 50px;
  height: 60px;
  z-index: 2;
  opacity: 0;
  position: absolute;
}

/*icono del menu*/
header nav .menu span {
  display: block;
  width: 35px;
  height: 3px;
  margin-bottom: 8px;
  position: relative;
  background: black;
  z-index: 1;
}

/*transformacion a cruz*/
input:checked ~ span {
  -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
}

input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0) scale(0.2, 0.2);
          transform: rotate(0) scale(0.2, 0.2);
}

input:checked ~ span:nth-last-child(2) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

footer {
  margin: 100px 0;
  text-align: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 65px;
    margin: 16px 0 0;
  }
  button {
    padding: 16px 0px;
    max-width: 330px;
    font-size: 1.125rem;
    margin-top: 40px;
  }
  .textContainer {
    width: auto;
  }
  .textBlock {
    margin-bottom: 50px;
  }
  .button {
    margin: 10px 50px;
    padding-top: 0;
  }
  .point {
    color: blue;
  }
  .container {
    padding: 10px 0 0 50px;
    width: 80%;
  }
  .home {
    margin: 50px 16px 0;
  }
  .home h1 {
    width: 100%;
  }
  .textDesktop {
    display: initial;
  }
  .textMobile {
    display: none;
  }
  i {
    padding-top: 0px;
    font-size: 1rem;
  }
  /*Header*/
  header {
    height: 66px;
  }
  header a img {
    width: 3.5%;
  }
  header nav {
    padding: 0;
  }
  header nav .menu {
    padding: 0;
  }
  header nav .menu ul {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
    margin: 0;
  }
  header nav .menu ul li {
    margin-top: 5px;
    font-size: 1.2rem;
    color: #060A24;
    font-family: 'IBM Plex Mono', sans-serif;
    padding: 5px 10px;
    display: inline-block;
  }
  header nav .menu ul li:hover {
    font-size: 1.2rem;
    color: #00F3BB;
    font-family: 'IBM Plex Mono', sans-serif;
  }
  header nav .menu ul li a {
    color: #060A24;
    padding: unset;
    line-height: unset;
  }
  header nav .menu ul li a:hover {
    font-size: 1.2rem;
    color: #00F3BB;
    font-family: 'IBM Plex Mono', sans-serif;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
  /*Section episodes*/
  .episodes {
    padding: 100px 16px 200px;
    background: -webkit-gradient(linear, right top, left top, from(#0000FF), to(#0000A3));
    background: linear-gradient(to left, #0000FF, #0000A3);
  }
  .episodes h2 {
    margin: 10px 100px;
  }
  .episodesList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .episodesList div {
    margin: 10px;
  }
  iframe {
    width: 100%;
  }
  /*Section our*/
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 80px;
  }
  .imagePhone {
    width: 100%;
    top: -60px;
  }
  .textBlock p {
    margin-bottom: 0;
  }
  /*Section Gallery*/
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
  }
  /*Section topics*/
  .topics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 100px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .topics li {
    width: 20%;
    margin-bottom: 30px;
  }
  .topics li h3 {
    margin-top: 20px;
  }
  .topics li h3 {
    font-size: 1.5rem;
  }
  /*Call to action*/
  .callToAction {
    padding: 200px 50px;
    background: -webkit-gradient(linear, right top, left top, from(#0000FF), to(#0000A3));
    background: linear-gradient(to left, #0000FF, #0000A3);
  }
  /*Footer*/
  footer {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 50px;
  }
  footer p {
    text-align: left;
    padding: 0px 50px;
  }
  footer ul {
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: flex-end;
  }
}
/*# sourceMappingURL=styles.css.map */